<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/dist/output.css" rel="stylesheet">
    <title>Solar System Tracker</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/imgs/favicon-32x32.png"
    />

  </head>
  <body>
    <header class="container">
      <div class="text-center">
        <h1 class="text-lg"><a href="/profile">Solar System Tracker</a></h1>
        <span class="bg-red-600 text-lg">Helping Solar Technicians</span>
      </div>
    </header>
  </body>
</html>
